*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.header{
    /* background-color:  #06AB7B; */
    width: 100%;
    height: 110px;
}
.menu{
    width: 100%;
    height: inherit;
    padding: 0 2rem;
    
    display: flex;
    justify-content: center;  
    align-items: center;
}
.logo{
    width: 90px;
    height: 90px;
}
.menu__section{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 2rem;

    list-style: none;
}
.menu__item{
    width: 140px;
    height: 35px;

    border: 2px solid white;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.menu__link{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.menu__section-submenu{
    
}
.social-media{
    display: flex;
    gap: 3rem;
}
.social-media__link{
    text-decoration: none;
}
.social-media__icon{
    color: white;
    font-size: 32px;
}