body {
  background-color: white;
}
.main{
  animation: slideUp 0.8s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}
.content {
  margin: 1rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px #06AB7B;
  text-align: center;
}
.about__title{
  font-size: 2rem;
  color: #1A3A5F;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
  
}
.about__title:hover{
  color: #28c97f;
}
.parrafo {
  color: #666;
  line-height: 1.6;
  font-size: 1.1rem;
}
.about {
  width: 100%;
  /* background-color: #F1D7C6; */
  background-color: #C6D9F1;
  border-left: 10px solid #1A3A5F;
  box-shadow: 2px 2px 2px #1A3A5F;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.about__img {
  width: 40%;
  border-radius: 5px;
}
.reto {
  width: 100%;
  background-color: #C6D9F1;
  border-left: 10px solid #1A3A5F;
  box-shadow: 2px 2px 2px #1A3A5F;
  border-radius: 15px;
  padding: 2rem;
}
.reto__title{
  font-size: 2rem;
  color: #1A3A5F;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
}
.reto__title:hover{
  color: #28c97f;
}
.reto__parrafo{
  color: #666;
  line-height: 1.6;
  font-size: 1.1rem;
}
.reto__img{
  width: 20%;
}
.camp {
  width: 100%;
  background-color: #C6D9F1;
  border-right: 10px solid #1A3A5F;
  box-shadow: 2px 2px 2px #1A3A5F;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.camp__content{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
}
.camp__title{
  font-size: 2rem;
  color: #1A3A5F;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
}
.camp__title:hover{
  color: #28c97f;
}
.camp__parrafo{
  color: #666;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: end;
}
.camp__img{
  width: 30%;
  border-radius: 5px;
}
.camp__a{
  padding: 1.5rem;
  text-decoration: none;
  background-color: #06ab7c;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.camp__a:hover{
  background-color: #F1C232;
  
  transform: translateY(-2px); 
}

.points {
  width: 100%;
  background-color: #C6D9F1;
  border-right: 10px solid #1A3A5F;
  box-shadow: 2px 2px 2px #1A3A5F;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.points__title{
  font-size: 2rem;
  color: #1A3A5F;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
}
.points__title:hover{
  color: #28c97f;
}
.points__parrafo{
  color: #666;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: end;
  padding-right: 1rem;
  border-right: 5px solid #1A3A5F;
}
.footer {
  background-color: white;
}